:root {
  --primary: #0f0f0f;
  --red: #ce1141;
  --grey: #838287;
  --creme: #fffdd0;
  --soft: #fbeee4;
  --bg: #EEE;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}


p {
  font-family: 'Merriweather', serif;
  font-weight: lighter;
}

body {
  margin-left: auto;
  margin-right: auto;
  color: var(--soft);
  background-color: var(--primary);
}

footer {
  text-align: center;
  padding: 1em;
  min-width: 100%;
  bottom: 0;
  color: var(--soft);
}

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 1rem;
  color: var(--soft);
  transition: color 250ms ease-in-out;
}

nav a:link, nav a:visited {
  color: var(--red);
  text-decoration: none;
  transition: all .3s ease-in-out;
}
nav a:hover, nav a:active  {
  color: var(--grey);
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  nav {flex-direction: row;}
}

.trigram {
  font-size: 1.75em;
  display: none;
}
@media screen and (max-width: 767px) {
  .topnav a {display: none;}
  .topnav a.trigram {display: inherit; align-self: flex-end;}
}
@media screen and (max-width: 767px) {
  .topnav.responsive {align-items: center;}
  .topnav.responsive a {display:inherit;}
  .topnav.responsive a.trigram {visibility: hidden; position: absolute; right: 3%; top: 2%;}
  .topnav.responsive a.trigram::after {content:'\000D7'; visibility:visible; text-indent: -.5em;}
}

.slideshow {
  margin-bottom: 1em;
  padding: 1em;
  background-color: var(--bg);
}
.slideshow img {
  width: 100%;
}
.slideshow-wrap {
  position: relative;
  max-width: 1440px;
  margin: auto;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 2px 2px 0;
}
.next {
  right: 0; /*-- positions next arrow hard right --*/
  border-radius: 3px 0 0 3px; /*-- rounds the outside borders --*/
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8); /*-- gives a background for contrast on hover --*/
}

.dot-wrap {
  text-align: center;
}
.dot {
  width: 10%;
  opacity: .5;
  display: inline-block;
}
.dot img {
  width: 100%;
}
.dot.active {
  opacity: 1;
}

.captiontext {
  background: rgba(0,0,0,0.4);
  color: white;
  font-size: 22px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 98%;
  text-align: center;
}

.main-grid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
  padding: .5em;
  color: var(--primary);
}

@media screen and (min-width: 550px) { /*-- at screens between 550 and 767 --*/
  body {width: 96%;}
  .main-grid {grid-template-columns: repeat(2, 1fr);}  /*-- 2 columnns --*/
}
@media screen and (min-width: 768px) {/*-- at screens between 768 and 989 --*/
  body {width: 94%;}
  .main-grid {grid-template-columns: repeat(3, 1fr);} /*-- 3 columnns --*/
}
@media screen and (min-width: 990px) {/*-- at screens between 990 and 1271 --*/
  body {width: 92%;}
  .main-grid {grid-template-columns: repeat(4, 1fr);} /*-- 4 columnns --*/
}

.card {
  border: 1px solid #333;
  padding: .5em;
  border-radius: 4px;
  background-color: var(--bg)
}

.thumb {
  padding-bottom: 56%;
  background-size: cover;
  background-position: center center;
  border-radius: 4px 4px 0 0;
}

.one .thumb {background-image: url(../img/Jordan1.jpg)}
.two .thumb {background-image: url(../img/Jordan2.jpg)}
.three .thumb {background-image: url(../img/Jordan3.jpg)}
.four .thumb {background-image: url(../img/Jordan4.jpg)}
.five .thumb {background-image: url(../img/Jordan5.jpg)}
.six .thumb {background-image: url(../img/Jordan6.jpg)}
.seven .thumb {background-image: url(../img/Jordan7.jpg)}
.eight .thumb {background-image: url(../img/Jordan8.jpg)}
.nine .thumb {background-image: url(../img/Jordan9.jpg)}
.ten .thumb {background-image: url(../img/Jordan10.jpg)}
.eleven .thumb {background-image: url(../img/Jordan11.jpg)}
.twelve .thumb {background-image: url(../img/Jordan12.jpg)}

.card-content {
  padding: 0 .5em .7em .5em;
  display:flex;
  flex-direction: column;
  align-items: center;
}

button.card-more {
  background: transparent;
  padding: .45em .7em .4em .7em;
  border-radius: 200px;
  font-size: .8em;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
}

button.card-more, button.card-more:visited {
  color: var(--primary);
  border: 1.5px solid;
  border-color: var(--primary);
  transition: all 250ms ease-in-out;
}
button.card-more:hover, button.card-more:active {
  color: var(--red);
  border-color: var(--red);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(10, 10, 10, .4);
}

.modal-content {
  background-color: var(--bg);
  margin: 1rem auto;
  padding: 1em;
  width: 92%;
  border-radius: 4px;
}

.modal-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;
}
.text {
  font-size: 14px;
  align-self: center;
}
.text h2 {
  margin-top: 0;
  padding-top: 0;
}
.modal-body img {
  margin-bottom: 1.5em;
  width: 100%;
  height: auto;
}


.close {
position: absolute;
font-size: 2.5em;
color: var(--primary);
font-weight: bold;
position: absolute; /*-- always at the top right of the modal --*/
top: 10px;
right: 4.25%;
transition: all .2s ease-in;
}

.close:hover, .close:focus {
   text-decoration: none;
   color: var(--red);
   cursor: pointer;
}

.modal-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;
}

@media screen and (min-width: 1280px) {
  .modal-body {grid-template-columns: 7fr 5fr;}
}
