footer {
  padding: 1em;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  nav {flex-direction: row;}
}

.trigram {
  font-size: 1.75em;
  display: none;
}
@media screen and (max-width: 767px) {
  .topnav a {display: none;}
  .topnav a.trigram {display: inherit; align-self: flex-end;}
}
@media screen and (max-width: 767px) {
  .topnav.responsive {align-items: center;}
  .topnav.responsive a {display:inherit;}
  .topnav.responsive a.trigram {visibility: hidden; position: absolute; right: 3%; top: 2%;}
  .topnav.responsive a.trigram::after {content:'\000D7'; visibility:visible; text-indent: -.5em;}
}

.slideshow {
  width: 100%;
  margin-bottom: 1em;
  padding: 1em;
}
.slideshow img {
  width: 100%;
}
.slideshow-wrap {
  position: relative;
  max-width: 1440px;
  margin: auto;
}
.prev, .next {
  position: absolute;
  top: 50%;
  width: auto;
  color: #DDD;
}
.next {
  right: 0;
}
.prev:hover, .next:hover {
  background: rgba(0, 0, 0, 0.5);
}
.dot-wrap {
  text-align: center;
}
.dot {
  width: 10%;
  opacity: .5;
  display: inline-block;
}
.dot img {
  width: 100%;
}
.dot.active {
  opacity: 1;
}

.captiontext {
  background: rgba(0,0,0,0.4);
  color: white;
  font-size: 22px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.main-grid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 550px) { /*-- at screens between 550 and 767 --*/
  body {width: 96%;}
  .main-grid {grid-template-columns: repeat(2, 1fr);}  /*-- 2 columnns --*/
}
@media screen and (min-width: 768px) {/*-- at screens between 768 and 989 --*/
  body {width: 94%;}
  .main-grid {grid-template-columns: repeat(3, 1fr);} /*-- 3 columnns --*/
}
@media screen and (min-width: 990px) {/*-- at screens between 990 and 1271 --*/
  body {width: 92%;}
  .main-grid {grid-template-columns: repeat(4, 1fr);} /*-- 4 columnns --*/
}

.card {
  border: 1px solid #333;
}

.card-content {
  padding: 1em;
}

.thumb {
  padding-bottom: 56%;
  background-size: cover;
  background-position: center center;
}

.one .thumb {background-image: url(../img/Jordan1.jpg)}
.two .thumb {background-image: url(../img/Jordan2.jpg)}
.three .thumb {background-image: url(../img/Jordan3.jpg)}
.four .thumb {background-image: url(../img/Jordan4.jpg)}
.five .thumb {background-image: url(../img/Jordan5.jpg)}
.six .thumb {background-image: url(../img/Jordan6.jpg)}
.seven .thumb {background-image: url(../img/Jordan7.jpg)}
.eight .thumb {background-image: url(../img/Jordan8.jpg)}
.nine .thumb {background-image: url(../img/Jordan9.jpg)}
.ten .thumb {background-image: url(../img/Jordan10.jpg)}
.eleven .thumb {background-image: url(../img/Jordan11.jpg)}
.twelve .thumb {background-image: url(../img/Jordan12.jpg)}

.card-content {
  padding: 0 .5em .7em .5em;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  background-color: #EEE;
  margin: 1rem auto;
  padding: 1em;
  width: 92%;
  border-radius: 4px;
}


.close {
  position: absolute;
  top: 5px;
  right: 4.25%;
}

.modal-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;
}

@media screen and (min-width: 1280px) {
  .modal-body {grid-template-columns: 7fr 5fr;}
}
